@model K22CNT3_NVD_2210900016_DATN.Models.DatSan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DatSan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoGio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoGio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienCoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TienCoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.TenKhach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TenKhach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanCauLong.TenSan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanCauLong.TenSan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_DatSan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
