@model K22CNT3_NVD_2210900016_DATN.Models.DonDichVu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DonDichVu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKhach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.TenKhach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TenKhach)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_DonDV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
